.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #FFF;
    width: 165px;
}

.todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #0066FF;
}

.todoListMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;
}


.fa-times{
    position: absolute;
    margin-left: 6%;
}

.fa-times:hover{
    background-color: #ff3300;
    cursor: pointer;
}

/* i tried to put some style but the CSS doesn't apply for the list, I don't understand why */